# Load .env.development* files when running `wrangler dev`
NEXTJS_ENV=development

# Drizzle Kit credentials for D1
# Get your Account ID from: https://dash.cloudflare.com/ (right sidebar)
# Get your API Token from: https://dash.cloudflare.com/profile/api-tokens
CLOUDFLARE_ACCOUNT_ID=your-account-id-here
CLOUDFLARE_D1_TOKEN=your-api-token-here
CLOUDFLARE_R2_URL=your-r2-url-here
CLOUDFLARE_API_TOKEN=your-api-token-here

# Authentication
BETTER_AUTH_SECRET=your-better-auth-secret # see https://www.better-auth.com/docs/installation
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# Google Auth : see https://www.better-auth.com/docs/authentication/google
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret